{% extends "layout.nunjucks" %}

{% block canonical %}
{% import "macros/canonical.nunjucks" as m %}
<$ m.canonical('blog-listing') $>
{% endblock %}

{% block content %}
  <main id="content" role="main" class="main md-flex flex-wrap items-start">
    <section class="commerce-blog-wrapper col-12 md-col-8 px2 pt2 pb3 md-px4 md-pt1 md-pb3">
      <h1 class="xs-hide sm-hide md-commerce-header h3 md-py2 md-mb4">featured posts</h1>
      {% for blog in blogs %}
        <article>
          <amp-img class="mb3" src="<$ blog.src $>" srcset="<$ blog.srcset $>" width="750" height="427" layout="responsive" alt="<$ blog.title $>" noloading="">
            <div placeholder="" class="commerce-loader"></div>
          </amp-img>
          <div class="mb3 md-mx0">
            <h2 class="h3"><$ blog.title $></h2>
            <time datetime="<$ blog.publishedDate $>" class="block mb2"><$ blog.publishedDate | date $></time>
            <p class="mb2"><$ blog.body | truncate(300) $></p>
            <a href="blog-article.amp.html" class="commerce-blog-link inline-block h7 md-mb4">read more</a>
          </div>
        </article>
      {% endfor %}
    </section>
  {% include "partials/aside.nunjucks" %}
  </main>
{% endblock %}
