{% extends "layout.nunjucks" %}

{% block canonical %}
{% import "macros/canonical.nunjucks" as m %}
<$ m.canonical('cart') $>
{% endblock %}

{% block content %}
  <main id="content" role="main" class="main items-start commerce-cart pb3 md-pb7 md-mb3">
    <div class="flex flex-wrap">
      <section class="col-12 md-col-8 pt2 pb3 md-pt4 md-pb7">
        <h1 class="h3 mb2 mx2 md-mx4 ">Your Basket</h1>
        {% include "partials/cart.nunjucks" %}
      </section>
      <section class="px2 pt3 pb4 md-px3 md-pt4 col-12 md-col-4 commerce-cart-summary commerce-side-panel">
        {% include "partials/order_summary.nunjucks" %}
        <div class="commerce-cart-actions center">
          <a href="checkout.amp.html" class="ampstart-btn ampstart-btn-secondary caps">checkout</a>
        </div>
      </section>
    </div>
    {% include "partials/recommendations.nunjucks" %}
  </main>
{% endblock %}
