{% extends "layout.nunjucks" %}

{% block canonical %}
{% import "macros/canonical.nunjucks" as m %}
<$ m.canonical('product-details') $>
{% endblock %}

{% block content %}
{% import "macros/review.nunjucks" as r %}
  <amp-state id="cart">
    <script type="application/json">
      {
        "added": false
      }
    </script>
  </amp-state>

  <main id="content" role="main" class="main">
  {% include "partials/cart_small.nunjucks" %}
    <amp-state id="product" [src]="'http://localhost:3000/carrefour/1503613'">
    </amp-state>

    <section class="flex flex-wrap pb4 md-pb7">
      <div class="col-12 md-col-6 px2 pt2 md-pl7 md-pt4">
        <amp-carousel width="1280" height="720" layout="responsive" type="slides" [slide]="product.selectedSlide" on="slideChange: AMP.setState({product: {selectedSlide: event.index}})">
        {% for c in product.carousel %}
        <amp-img [src]="product[product.selectedColor].large.image<$ loop.index $>" src="<$ c.src $>" width="1280" height="720" layout="responsive" role="button" tabindex="0" alt="product image" noloading="">
<div placeholder="" class="commerce-loader"></div></amp-img>
        {% endfor %}
        </amp-carousel>

        <amp-selector class="center" [selected]="product.selectedSlide" on="select:AMP.setState({product: {selectedSlide: event.targetOption}})">
          <ul class="list-reset inline-block">
          {% for c in product.carousel %}
            <li class="inline-block commerce-product-thumb">
              <amp-img option="<$ loop.index0 $>" layout="responsive" [src]="product[product.selectedColor].thumb.image<$ loop.index $>" src="<$ c.thumbnail $>" width="320" height="180" alt="thumbnail" {% if loop.first %}selected="selected"{% endif %}></amp-img>
            </li>
          {% endfor %}
          </ul>
        </amp-selector>
      </div>
      <div class="col-12 md-col-6 flex flex-wrap content-start px2 md-pl5 md-pr7 md-pt4">
        <div class="col-6 self-start pb2">
          <h1 class="h3 md-h2">Road Bike</h1>
          <div class="h4 md-h3">470 AED</div>
        </div>
        <div class="col-6 self-start right-align">
          <h2 class="h7 block pb1">Reviews</h2>
          <$ r.stars(4) $>
        </div>
        <div class="col-12 self-start pb4">Built with lightweight aluminum for speed.</div>
        <hr class="mb4">
        <div class="col-6 self-start pb4">
          <span class="h6 md-h7 align-top pr2">colour:</span>
          <amp-selector class="inline-block" name="color" layout="container" [selected]="product.selectedColor" on="select:AMP.setState({
                              product: {
                                selectedColor: event.targetOption
                              }
                            })">
            <ul class="m0 list-reset inline-block">
            {% for color in product.colors -%}
            <li class="inline-block mr1">
              <div option="<$ color $>" class="commerce-product-color-swatch commerce-product-color-<$ color $>" {% if loop.first %}selected="selected"{% endif %}></div>
            </li>
            {%- endfor %}
            </ul>
          </amp-selector>
        </div>
        <div class="col-6 self-start pb4">
        <div class="commerce-select-wrapper inline-block  ">
          <label for="sizes" class="bold caps h6 md-h7">Select a size: </label>
          <select name="sizes" id="sizes" class="commerce-select h6 md-h7">
            {% for size in product.sizes -%}
              <option value="<$ size $>"><$ size $></option>
            {%- endfor %}
          </select>
        </div>
        </div>
        <hr class="mb4">
        <div class="col-12 self-start mb4 commerce-product-btn-wrapper">
          <button class="ampstart-btn ampstart-btn-secondary caps" on="tap:AMP.setState({cart: {added: true}})">Add to cart</button>
        </div>
        <hr class="md-hide lg-hide">
      </div>
      <div class="col-12 flex flex-wrap pb3">
        <hr class="xs-hide sm-hide mt4">
        <div class="col-12 md-col-6 px2 md-pl7 commerce-product-desc">
          <section class="pt3 md-pt6 md-px4">
            <h2 class="h5 md-h4">Overview</h2>
            <p class="mt2 mb3">Id lacus amet. Aliquam eos nunc ut scelerisque lacinia, eu rutrum id, vestibulum aliqua vivamus luctus eu rhoncus
              ut, sodales id. Velit lacus, fermentum neque et sagittis, ac venenatis volutpat, dolore neque feugiat proin
              fermentum odio, odio arcu in eu wisi. </p>
              <hr>
              <div class="pt3 md-pt4 md-pb4">
                <h2 class="h5 md-h4 mb2">Reviews</h2>
                {% for review in product.reviews %}
                <section class="mb3">
                  <h3 class="h7 mb1"><$ review.name $></h3>
                  <$ r.stars(review.rating) $>
                  <p class="mt1"><$ review.description $></p>
                </section>
                {% endfor %}
              </div>
          </section>
        </div>
        <div class="col-12 md-col-5 md-pr7 md-pl5">
          <section class="pt3 pb3 md-pb4 px2 md-pt6">
            <h2 class="h5 md-h4">Size Guide</h2>
            <div class="mt2">
              <table class="commerce-table center">
                <thead class="commerce-table-header h7">
                  <tr>
                    <th>Rider Height</th>
                    <th colspan="2">Suggested Size</th>
                  </tr>
                </thead>
                <tbody>
                {% for height, size, label in product.sizeGuide %}
                  <tr>
                    <td><$ height $></td>
                    <td><$ size $></td>
                    <td><$ label $></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </section>
          <section class="pt3 pb3 md-pt4 md-pb4 px2">
            <h2 class="h5 md-h4">Full spec</h2>
            <div class="mt2">
              <dl class="flex flex-wrap">
                {% for key, val in product.specs %}
                <dt class="h7 col-4 sm-col-3 md-col-5 lg-col-4 pb1"><$ key $></dt>
                <dd class="m0 col-8 sm-col-9 md-col-7 lg-col-8 pb1"><$ val $></dd>
                {% endfor %}
              </dl>
            </div>
          </section>
        </div>
        {% include "partials/recommendations.nunjucks" %}
      </div>
    </section>
  </main>
{% endblock %}