{% extends "layout.nunjucks" %}

{% block canonical %}
{% import "macros/canonical.nunjucks" as m %}
<$ m.canonical('product-landing') $>
{% endblock %}

{% block content %}
{% import "macros/inputs.nunjucks" as i %}
  <main id="content" role="main" class="main commerce-listing">
  <amp-state id="products">
    <script type="application/json">
      {
        "filter": "desc",
        "source": "all",
        "query": "",
        "price": 15699,
        "pageNumber": 0,
        "limit": 9
      }
    </script>
  </amp-state>
  <!--
  <amp-img class="commerce-listing-banner xs-hide sm-hide" src="../img/e-commerce/wide-listings-hero.jpg" width="2560" height="400" layout="responsive" alt="Product listing" noloading="">
    <div placeholder="" class="commerce-loader"></div>
  </amp-img>-->
  <section class="commerce-listing-content mx-auto flex flex-wrap pb4">
    <div class="col-3 xs-hide sm-hide flex flex-column">
      <div class="commerce-side-panel pt4 pr4 self-center">
        <h2 class="h5 mb2">From</h2>
          <$ i.radio("source", list_sources) $>
        <h2 class="h5 mb2">Price &lt; <span [text]="products.price">15699</span></h2>
          <$ i.range("price", min="1", max="15700", value="15699", onChange="'change: AMP.setState({products: {price: event.value, pageNumber: 0}})'") $>
      </div>
    </div>
    <div class="col-12 md-col-7 pt2 pb3 md-px4 md-pt1 md-pb7">
      <div class="md-commerce-header relative md-flex flex-wrap items-center md-mx0 md-mb2">
        <h1 class="h3 mb2 md-mt2 md-mb2 md-ml0 flex-auto px2">Products</h1>
        <div class="commerce-listing-filters pt2 pb2 mb3 md-mb0">
          <div class="commerce-select-wrapper inline-block md-mr1 pl2 md-hide lg-hide">
            <label for="source" class="bold caps h6 md-h7">From:</label>
            <select name="source" id="source" class="commerce-select h6 md-h7" on="change: AMP.setState({products: {source: event.value, pageNumber: 0}})">
            <$ i.option("source", list_sources) $>
            </select>
          </div>
          
          <div class="commerce-select-wrapper inline-block md-mr1 pl2">
          {% include "partials/search.nunjucks" %}
          </div>
          <div class="commerce-select-wrapper inline-block md-mr1 pl2">
            <label for="price" class="bold caps h6 md-h7">Sort by:</label>
            <select name="price" id="price" class="commerce-select h6 md-h7" on="change: AMP.setState({products: {filter: event.value}})">
              <$ i.option("price", product_listing) $>
            </select>
          </div>
        </div>
      </div>
      <amp-list
        id="list"
        class="mx1 md-mxn1" 
        [src]="'//localhost:3000/' + 
        products.source + 
        '?_sort=price' + 
        '&_order=' + products.filter + 
        '&_page=' + products.pageNumber +
        '&_limit=' + products.limit +
        '&price_lte=' + products.price +
        (products.query == '' ? '' : '&q=' + products.query)" 
        src="//localhost:3000/all?_sort=price&_page=0&_limit=9&_order=desc" 
        height="1000" width="800" 
        layout="responsive"
        single-item reset-on-refresh binding="no"
        items="."
        load-more="auto"
        load-more-bookmark="next">
        <template type="amp-mustache"
        credentials="include">
          {{#items}}
          <div class="commerce-listing-product text-decoration-none inline-block col-6 md-col-4 lg-col-3 px1 mb2 md-mb4 relative">
            <div class="flex flex-column justify-between">
              <div>
                <amp-img class="commerce-listing-product-image mb2" src="{{image}}" width="340" height="340" layout="responsive" alt="{{ name }}" noloading=""><div placeholder="" class="commerce-loader"></div></amp-img>
                <h2 class="commerce-listing-product-name h6">{{ name }}</h2>
                {{ description }}
              </div>
              <div class="h6 mt1">{{ price }} AED
                {{#url}}
                  <a href="{{ url }}" target="_blank" >
                    <amp-img class="open-icon" src="../img/logos/{{ source }}.png" width="20" height="20" />
                  </a>
                {{/url}}
              </div>
            </div>
          </div>
          {{/items}}
          {{^items}}
            <div class="flex flex-column justify-between">
              <div>
                <h2 class="commerce-listing-product-name h6">No items founds<span [text]="' in' + products.source"></span></h2>
              </div>
            </div>
          {{/items}}
        </template>
        <div overflow>
          <button class="ampstart-btn ampstart-btn-secondary caps">Show more</button>
        </div>
        <div fallback>Failed to load data. Please try again later.</div>
        <div placeholder>Loading ...</div>
        <amp-list-load-more load-more-failed>
        </amp-list-load-more>
        <amp-list-load-more load-more-end>
          <div class="flex flex-column justify-between">
            <div>
              <h2 class="commerce-listing-product-name h6">No more items to display</h2>
            </div>
          </div>
        </amp-list-load-more>
      </amp-list>
    </div>
  </section>
  </main>
{% endblock %}